
.vs/8Puzzle_practice/v15/Browse.VC.db
.vs/8Puzzle_practice/v15/Browse.VC.opendb
.vs/8Puzzle_practice/v15/ipch/AutoPCH/38a2c154fbf4d985/EXTERNAL.ipch
.vs/8Puzzle_practice/v15/ipch/AutoPCH/45c4927fbac33eb3/MAIN.ipch
8Puzzle_practice.sln
8Puzzle_practice/8Puzzle_practice.vcxproj
8Puzzle_practice/8Puzzle_practice.vcxproj.filters
8Puzzle_practice/8Puzzle_practice.vcxproj.user
8Puzzle_practice/Debug/8Puzzle_practice.log
8Puzzle_practice/Debug/8Puzzle_practice.tlog/8Puzzle_practice.lastbuildstate
8Puzzle_practice/Debug/8Puzzle_practice.tlog/CL.command.1.tlog
8Puzzle_practice/Debug/8Puzzle_practice.tlog/CL.read.1.tlog
8Puzzle_practice/Debug/8Puzzle_practice.tlog/CL.write.1.tlog
8Puzzle_practice/Debug/8Puzzle_practice.tlog/link.command.1.tlog
8Puzzle_practice/Debug/8Puzzle_practice.tlog/link.read.1.tlog
8Puzzle_practice/Debug/8Puzzle_practice.tlog/link.write.1.tlog
8Puzzle_practice/Debug/external.obj
8Puzzle_practice/Debug/main.obj
8Puzzle_practice/Debug/vc141.idb
8Puzzle_practice/Debug/vc141.pdb
Debug/8Puzzle_practice.exe
Debug/8Puzzle_practice.ilk
Debug/8Puzzle_practice.pdb
